<%= render :partial => 'spree/admin/shared/product_tabs', :locals => { :current => 'Images' } %>
<%= render :partial => 'spree/shared/error_messages', :locals => {:target => @product} %>

<%= form_for @image, url: create_multiple_admin_product_images_path(@product.id), html: { multipart: true, id: "fileupload", method: :post } do |f| %>
    <div data-hook="edit_image" class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">
          <%= t('multi_upload.title') %>
        </h1>
      </div>


      <div class="panel-body fileupload-buttonbar">
        <div class="form-group">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <div data-hook="variant" class="form-group">
                  <%= f.label :viewable_id, Spree::Variant.model_name.human %>
                  <%= f.select :viewable_id, @variants, {}, {:class => 'select2'} %>
                </div>
                <span class="icon-plus btn btn-primary button fileinput-button">
                  <%= t('multi_upload.add_files') %>
                  <%= f.file_field :attachment, {:multiple => true} %>
                </span>
              </div>
            </div>
            <div class="fileupload-progress fade">
              <div class="progress-extended">&nbsp;</div>
            </div>
            <table role="presentation" class="table table-striped">
              <tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody>
            </table>
          </div>
        </div>
        <div class="form-actions" data-hook="buttons">
          <button type="submit" class="btn btn-primary btn-success icon-upload button start"><%= Spree.t(:add) %></button>
          <span class="or"><%= Spree.t(:or) %></span>
          <button type="reset" class="btn btn-primary icon-ban-circle button cancel"><%= Spree.t(:cancel) %></button>
        </div>
      </div>
    </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('#fileupload').fileupload();
  });
</script>

<%= render :partial => 'template_upload' %>
<%= render :partial => 'template_download' %>
